/* General */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-image: url("bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: black;
    color: white;
}



